<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Connection to a local database  -->
    <add name="DatabaseDB" connectionString="Data Source=(localDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\uadmin\source\repos\ITMS\ATMS_GT\App_Data\Database.mdf;Integrated Security=True;"
        providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGetUsersService" />
        <binding name="BasicHttpBinding_IGetUsersService1" />
        <binding name="BasicHttpBinding_IGetUsersService2" />
        <binding name="BasicHttpBinding_IGetUsersService3" />
        <binding name="BasicHttpBinding_IGetUsersService4" />
        <binding name="BasicHttpBinding_IGetUsersService5" />
        <binding name="BasicHttpBinding_IGetUsersService6" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService"
        contract="ServiceReferencePrinter.IGetUsersService" name="BasicHttpBinding_IGetUsersService" />
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService1"
        contract="ServiceReferencePrinter.IGetUsersService" name="BasicHttpBinding_IGetUsersService1" />
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService2"
        contract="ServiceReference1.IGetUsersService" name="BasicHttpBinding_IGetUsersService2" />
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService3"
        contract="ServiceReference1.IGetUsersService" name="BasicHttpBinding_IGetUsersService3" />
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService4"
        contract="ServiceReference1.IGetUsersService" name="BasicHttpBinding_IGetUsersService4" />
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService5"
        contract="ServiceReference1.IGetUsersService" name="BasicHttpBinding_IGetUsersService5" />
      <endpoint address="http://localhost:58299/GetUsersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetUsersService6"
        contract="ServiceReference1.IGetUsersService" name="BasicHttpBinding_IGetUsersService6" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Pour éviter la divulgation d'informations d'exception, définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
